{
  "name": "ielts",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "ui/css/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "ui/css/style.scss",
      "imports": [
        "ui/css/parts/reset.scss",
        "ui/css/parts/mixins.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7886,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "sftp",
    "remotePath": "ielts",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "ssh.jakezhong.com",
      "port": 22,
      "usePrivateKey": false,
      "username": "jakezhong.com",
      "password": "Zj199032!",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "ui/css/style.css",
        "ctime": "2019-04-13T17:49:36.914Z",
        "mtime": "2019-04-13T17:49:36.914Z",
        "size": 21216
      },
      {
        "file": "wp-content/themes/ielts/header.php",
        "ctime": "2019-04-09T18:47:13.108Z",
        "mtime": "2019-04-09T18:47:13.108Z",
        "size": 1446
      },
      {
        "file": "wp-content/themes/ielts/footer.php",
        "ctime": "2019-04-09T18:49:13.432Z",
        "mtime": "2019-04-09T18:49:13.432Z",
        "size": 334
      },
      {
        "file": "wp-content/themes/ielts/page-template.php",
        "ctime": "2019-04-09T18:21:08.615Z",
        "mtime": "2019-04-09T18:21:08.615Z",
        "size": 92
      },
      {
        "file": "wp-content/themes/ielts/template-home.php",
        "ctime": "2019-04-11T02:19:39.285Z",
        "mtime": "2019-04-11T02:19:39.285Z",
        "size": 180
      },
      {
        "file": "wp-content/themes/ielts/style.css",
        "ctime": "2019-04-09T18:23:16.321Z",
        "mtime": "2019-04-09T18:23:16.321Z",
        "size": 202
      },
      {
        "file": "wp-content/themes/ielts/functions.php",
        "ctime": "2019-04-11T02:44:53.376Z",
        "mtime": "2019-04-11T02:44:53.376Z",
        "size": 17696
      },
      {
        "file": "ui/css/parts/fonts.css",
        "ctime": "2019-04-10T01:31:42.322Z",
        "mtime": "2019-04-10T01:31:42.322Z",
        "size": 5211
      },
      {
        "file": "wp-content/themes/ielts/functions/functions-post-types.php",
        "ctime": "2019-04-10T02:28:05.917Z",
        "mtime": "2019-04-10T02:28:05.917Z",
        "size": 8381
      },
      {
        "file": "wp-content/themes/ielts/flex/flex-schedules.php",
        "ctime": "2019-04-11T02:24:44.612Z",
        "mtime": "2019-04-11T02:24:44.612Z",
        "size": 250
      },
      {
        "file": "_build/1_index.html",
        "ctime": "2019-04-13T18:00:16.412Z",
        "mtime": "2019-04-13T18:00:16.412Z",
        "size": 35865
      },
      {
        "file": "ui/js/script.js",
        "ctime": "2019-04-13T17:54:28.633Z",
        "mtime": "2019-04-13T17:54:28.633Z",
        "size": 1582
      },
      {
        "file": "ui/js/jquery.plugins.js",
        "ctime": "2019-04-11T02:43:45.709Z",
        "mtime": "2019-04-09T14:08:06.970Z",
        "size": 0
      },
      {
        "file": "ui/js/jquery.init.js",
        "ctime": "2019-04-11T02:58:06.075Z",
        "mtime": "2019-04-11T02:58:06.075Z",
        "size": 601
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}