<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta name="MSSmartTagsPreventParsing" content="true" /><!--[if lte IE 9]><meta http-equiv="X-UA-Compatible" content="IE=Edge"/><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Title</title>
    <link type="text/plain" rel="author" href="../authors.txt" />
    <link type="image/x-icon" rel="shortcut icon" href="../favicon.ico" />
    <!-- Remove When Adding <?php wp_head(); ?> -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="../ui/css/style.css" />
    <script src="../ui/js/jquery.js" type="text/javascript"></script>
    <!-- End Remove -->
</head>

<body>
<!--
    When starting wp replace body with this
    <body <?php body_class(); ?>>
-->
    <div class="site" id="app">
        <header id="header">
            <div class="wrap">
                <nav id="nav" role="nav">
                    <a class="logo">
                        <img src="../ui/svg/logo.svg" alt="">
                    </a>
                    <div class="desktop">
                        <ul id="main-menu">
                            <li><a href="#">主页</a></li>
                            <li class="menu-item-has-children" @hover="">
                                <a href="#">任务表</a>
                                <ul v-show="">
                                    <li><a href="#">听力</a></li>
                                    <li><a href="#">阅读</a></li>
                                    <li><a href="#">写作</a></li>
                                    <li><a href="#">口语</a></li>
                                    <li><a href="#">词汇</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">时间表</a>
                                <ul>
                                    <li><a href="#">听力</a></li>
                                    <li><a href="#">阅读</a></li>
                                    <li><a href="#">写作</a></li>
                                    <li><a href="#">口语</a></li>
                                    <li><a href="#">词汇</a></li>
                                </ul>
                            </li>
                            <li><a href="#">学习计划</a></li>
                            <li><a href="#">相关资料</a></li>
                        </ul>
                    </div>
                    <div class="mobile">
                        <h1 class="title">屠鸭抱抱团</h1>
                        <ul id="mobile-menu">
                            <li class="current-menu-item">
                                <a class="#">
                                    <svg class="icon_home"><use xlink:href="../ui/svg/sprites.svg#icon_home"></use></svg>
                                    首页
                                </a>
                            </li>
                            <li>
                                <a class="#">
                                    <svg class="icon_schedule"><use xlink:href="../ui/svg/sprites.svg#icon_schedule"></use></svg>
                                    时间表
                                </a>
                            </li>
                            <li>
                                <a class="#">
                                    <svg class="icon_missions"><use xlink:href="../ui/svg/sprites.svg#icon_missions"></use></svg>
                                    任务表
                                </a>
                            </li>
                            <li>
                                <a class="#">
                                    <svg class="icon_plans"><use xlink:href="../ui/svg/sprites.svg#icon_plans"></use></svg>
                                    学习计划
                                </a>
                            </li>
                            <li>
                                <a class="#">
                                    <svg class="icon_resources"><use xlink:href="../ui/svg/sprites.svg#icon_resources"></use></svg>
                                    参考资料
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main id="main">
            <section class="banner general">
                <h2>本周时间表</h2>
                <h4>2019年4月19日</h4>
            </section>
            <div class="spacer"></div>
            <section class="missions-module">
                <div class="wrap">
                    <div class="header">
                        <h2>本周目标</h2>
                        <ol>
                            <li>背范文，录音读范文<span>x 3</span></li>
                            <li>Listening 刷题<span>x 3</span></li>
                            <li>Reading 刷题<span>x 3</span></li>
                            <li>作文段落练习<span>x 5</span></li>
                            <li>口语练习<span>x 6</span></li>
                            <li>作文<span>x 1</span></li>
                        </ol>
                    </div>
                    <div class="spacer"></div>
                    <h2>时间表</h2>
                    <div class="spacer"></div>
                    <b-form-checkbox v-model="todayTrigger" name="check-button" switch>
                        只看今天
                    </b-form-checkbox>
                    <div class="spacer"></div>
                    <div class="main-sheet">
                        <table v-bind:class="{ active: todayTrigger }">
                            <tr>
                                <th>Time</th>
                                <th>Monday</th>
                                <th v-show="!todayTrigger">Tuesday</th>
                                <th v-show="!todayTrigger">Wednesday</th>
                                <th v-show="!todayTrigger">Thursday</th>
                                <th v-show="!todayTrigger">Friday</th>
                                <th v-show="!todayTrigger">Saturday</th>
                                <th v-show="!todayTrigger">Sunday</th>
                            </tr>
                            <tr>
                                <td class="listening">Listening</td>
                                <td>
                                    <ul>
                                        <li>
                                            <ol>
                                                <li>
                                                    <p>剑桥12 Test 2</p>
                                                    <div class="resources">
                                                        <small>参考资料：</small>
                                                        <ul>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                    </ul>
                                </td>
                                <td v-for="n in 6" v-show="!todayTrigger">
                                    <ul>
                                        <li>
                                            <ol>
                                                <li>
                                                    <p>剑桥12 Test 2</p>
                                                    <div class="resources">
                                                        <small>参考资料：</small>
                                                        <ul>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="reading">Reading</td>
                                <td>
                                    <ul>
                                        <li>
                                            <ol>
                                                <li>
                                                    <p>剑桥12 Test 2</p>
                                                    <div class="resources">
                                                        <small>参考资料：</small>
                                                        <ul>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li>
                                                    <p>剑桥12 Test 2</p>
                                                    <div class="resources">
                                                        <small>参考资料：</small>
                                                        <ul>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                    </ul>
                                </td>
                                <td v-for="n in 6" v-show="!todayTrigger">
                                    <ul>
                                        <li>
                                            <ol>
                                                <li>
                                                    <p>剑桥12 Test 2</p>
                                                    <div class="resources">
                                                        <small>参考资料：</small>
                                                        <ul>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li>
                                                    <p>剑桥12 Test 2</p>
                                                    <div class="resources">
                                                        <small>参考资料：</small>
                                                        <ul>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="writing">Writing</td>
                                <td>
                                    <ul>
                                        <li>
                                            <ol>
                                                <li>
                                                    <p>剑桥12 Test 2</p>
                                                    <div class="resources">
                                                        <small>参考资料：</small>
                                                        <ul>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li>
                                                    <p>剑桥12 Test 2</p>
                                                    <div class="resources">
                                                        <small>参考资料：</small>
                                                        <ul>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                    </ul>
                                </td>
                                <td v-for="n in 6" v-show="!todayTrigger">
                                    <ul>
                                        <li>
                                            <ol>
                                                <li>
                                                    <p>剑桥12 Test 2</p>
                                                    <div class="resources">
                                                        <small>参考资料：</small>
                                                        <ul>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li>
                                                    <p>剑桥12 Test 2</p>
                                                    <div class="resources">
                                                        <small>参考资料：</small>
                                                        <ul>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="speaking">Speaking</td>
                                <td>
                                    <ul>
                                        <li>
                                            <ol>
                                                <li>
                                                    <p>剑桥12 Test 2</p>
                                                    <div class="resources">
                                                        <small>参考资料：</small>
                                                        <ul>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                    </ul>
                                </td>
                                <td v-for="n in 6" v-show="!todayTrigger">
                                    <ul>
                                        <li>
                                            <ol>
                                                <li>
                                                    <p>剑桥12 Test 2</p>
                                                    <div class="resources">
                                                        <small>参考资料：</small>
                                                        <ul>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="vocabulary">Vocabulary</td>
                                <td>
                                    <ul>
                                        <li>
                                            <ol>
                                                <li>
                                                    <p>剑桥12 Test 2</p>
                                                    <div class="resources">
                                                        <small>参考资料：</small>
                                                        <ul>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                    </ul>
                                </td>
                                <td v-for="n in 6" v-show="!todayTrigger">
                                    <ul>
                                        <li>
                                            <ol>
                                                <li>
                                                    <p>剑桥12 Test 2</p>
                                                    <div class="resources">
                                                        <small>参考资料：</small>
                                                        <ul>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                            <li><a href="#">剑桥雅思12</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
            <div class="spacer"></div>
        </main>
        <footer id="footer" class="desktop">
            <div class="wrap">
                <p>@2019 Copyright <a href="#">屠鸭抱抱团</a></p>
            </div>
        </footer>
    </div>
    <!-- Remove when adding <?php wp_footer(); ?> -->
    <script src="../ui/js/modernizr.js"></script>
    <script src="../ui/js/svgxuse.js"></script> <!-- SVG Polyfill -->
    <script src="../ui/js/plugins.js" type="text/javascript"></script>
    <script src="../ui/js/script.js" type="text/javascript"></script>
    <!-- End Remove -->
</body>
</html>
