/* ========================================================================= */
/* !RESETS AND DEFAULTS */
/* ========================================================================= */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, var, hr, acronym, dl, dt, dd, ol, ul, li, pre, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { border: 0; outline: 0; font-style: normal; font-weight: 400; font-size: 100%; vertical-align: baseline; margin: 0; padding: 0; -webkit-text-size-adjust: 100%; }

em, strong, b, i, a, span, sub, sup, small { border: 0; outline: 0; font-size: 100%; vertical-align: baseline; margin: 0; padding: 0; }

/* a:focus { outline:0; } :focus, :active { outline:none; outline:0; } ::-moz-focus-inner { outline:none; } */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

li { list-style: none; }

a { text-decoration: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border-top: 1px solid #000; color: #000; }

input, select { vertical-align: middle; }

sub { vertical-align: sub; font-size: smaller; line-height: 0px; }

sup { vertical-align: super; font-size: smaller; line-height: 0px; }

input, button, textarea, select, label, img { display: inline-block; max-width: 100%; height: auto; }

input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }

input, button, textarea, select { -webkit-appearance: none; outline: 1px solid transparent; }

textarea { resize: none; overflow: auto; }

button, a span { cursor: pointer; }

button { border: 0; text-align: center; }

button::-moz-focus-inner { padding: 0; border: 0; }

table { table-layout: fixed; }

a[href^=tel] { color: inherit; }

select { -moz-appearance: none; -webkit-appearance: none; -ms-appearance: none; }

select:-moz-focusring { color: transparent; }

select::-ms-expand { display: none; }

/* != FONT SMOOTHING */
body, input, button, textarea { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* != ms-clear */
input[type=text]::-ms-clear { display: none; }

/* != BACKGROUND POSITION AND BOX SIZING */
*, *:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; background-position: center; background-repeat: no-repeat; }

/* != .clearfix - CLEAR ELEMENTS */
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

/* != .wordwrap - CONTINUE LONG URLS/WORDS ON NEXT LINE */
.wordwrap { white-space: pre; white-space: pre-wrap; white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap; white-space: -moz-pre-wrap; word-wrap: break-word; }

/* ========================================================================= */
/* !FONTS (@fontface generated with FontSpring Syntax formatting */
/* ========================================================================= */
/* != Open Sans ====================================== */
@font-face { font-family: 'OpenSans'; src: url("../fonts/Open-Sans/OpenSans-Light-webfont.eot"); src: url("../fonts/Open-Sans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/Open-Sans/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/Open-Sans/OpenSans-Light-webfont.svg#OpenSansLight") format("svg"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'OpenSans'; src: url("../fonts/Open-Sans/OpenSans-LightItalic-webfont.eot"); src: url("../fonts/Open-Sans/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans/OpenSans-LightItalic-webfont.woff") format("woff"), rl("../fonts/Open-Sans/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/Open-Sans/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format("svg"); font-weight: 300; font-style: italic; }

@font-face { font-family: 'OpenSans'; src: url("../fonts/Open-Sans/OpenSans-Regular-webfont.eot"); src: url("../fonts/Open-Sans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/Open-Sans/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/Open-Sans/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'OpenSans'; src: url("../fonts/Open-Sans/OpenSans-Italic-webfont.eot"); src: url("../fonts/Open-Sans/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/Open-Sans/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/Open-Sans/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg"); font-weight: 400; font-style: italic; }

@font-face { font-family: 'OpenSans'; src: url("../fonts/Open-Sans/OpenSans-Semibold-webfont.eot"); src: url("../fonts/Open-Sans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/Open-Sans/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/Open-Sans/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'OpenSans'; src: url("../fonts/Open-Sans/OpenSans-SemiboldItalic-webfont.eot"); src: url("../fonts/Open-Sans/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("../fonts/Open-Sans/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("../fonts/Open-Sans/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format("svg"); font-weight: 500; font-style: italic; }

@font-face { font-family: 'OpenSans'; src: url("../fonts/Open-Sans/OpenSans-Bold-webfont.eot"); src: url("../fonts/Open-Sans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/Open-Sans/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/Open-Sans/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg"); font-weight: 600; font-style: normal; }

@font-face { font-family: 'OpenSans'; src: url("../fonts/Open-Sans/OpenSans-BoldItalic-webfont.eot"); src: url("../fonts/Open-Sans/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans/OpenSans-BoldItalic-webfont.woff") format("woff"), url("../fonts/Open-Sans/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/Open-Sans/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg"); font-weight: 600; font-style: italic; }

@font-face { font-family: 'OpenSans'; src: url("../fonts/Open-Sans/OpenSans-ExtraBold-webfont.eot"); src: url("../fonts/Open-Sans/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans/OpenSans-ExtraBold-webfont.woff") format("woff"), url("../fonts/Open-Sans/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("../fonts/Open-Sans/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold") format("svg"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'OpenSans'; src: url("../fonts/Open-Sans/OpenSans-ExtraBoldItalic-webfont.eot"); src: url("../fonts/Open-Sans/OpenSans-ExtraBoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans/OpenSans-ExtraBoldItalic-webfont.woff") format("woff"), url("../fonts/Open-Sans/OpenSans-ExtraBoldItalic-webfont.ttf") format("truetype"), url("../fonts/Open-Sans/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic") format("svg"); font-weight: 700; font-style: italic; }

/* ========================================================================= */
/* !SASS VARIABLES & MIXINS */
/* ========================================================================= */
/* // Use Case: $b (second) variable is optional and defaults to 'max-width' @include break(1100){ h1{ background: red; } } // Output @media screen and (max-width: 1100px) { h1 { background: red; } } // Also, if you want to specify the 2nd variable for break type (i.e., min-height) @include break(1100, 'min-height'){ h1 { background:red; } } // Output @media screen and (min-height: 1100px) { h1 { background: red; } } */
/* // inline SVGs // usage: background-image: inline-svg('<svg><!-- your svg code --></svg>'); */
/* Add Vendor Stylesheets here */
/* ========================================================================= */
/* !STYLES */
/* ========================================================================= */
html, body { font-family: "OpenSans"; font-size: 16px; font-color: #262228; }

/* != SELECTION STYLES (Leaving these blank will show no indication of text selection) ===== */
/* ::selection         { background: #aaa; color: #fff; } ::-moz-selection    { background: #aaa; color: #fff; } ::-webkit-selection { background: #aaa; color: #fff; } */
/* != DEFAULT WORDPRESS STYLES = USE AS NEEDED = .wp-caption = .wp-caption-dd = .wpGallery = .shutter = .shutterset ==== */
.aligncenter { display: block; margin: 25px auto; }

.alignleft { float: left; margin: 0 25px 25px 0; }

.alignright { float: right; margin: 0 0 25px 25px; }

.alignnone { display: inline-block; }

/* != LAYOUT STYLES ===== */
a { color: #0375b4; -webkit-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }

a:hover { color: #262228; }

.content-main ul:not([class*="gf"]) > li { position: relative; padding-left: 10px; }

.content-main ul:not([class*="gf"]) > li:before { content: '\2022'; position: absolute; left: 0; }

.content-main ol { counter-reset: li; }

.content-main ol > li { position: relative; padding-left: 20px; }

.content-main ol > li:before { content: counter(li) ". "; counter-increment: li; position: absolute; right: calc(100% - 15px); }

.wrap { max-width: 1180px; width: 100%; margin: 0 auto; padding: 0 20px; }

/* != PLACEHOLDER ATTRIBUTE STYLES = input or textarea - placeholder="whatever" ===== */
/* ::-webkit-input-placeholder { color: #aaa; } ::-moz-placeholder { color: #aaa; } */
input[type=submit], button { display: inline-block; cursor: pointer; }

/* != Select menus with a .select-menu container or gform-select-menu applied in gravity forms ===== */
.select-menu, .gform-select-menu div { position: relative; width: 260px; border: 1px solid #f00; vertical-align: middle; display: inline-block; overflow: hidden; margin: 0 10px 0 0; }

.select-menu:after, .select-menu:after, .gform-select-menu div:after, .gform-select-menu div:after { content: ''; position: absolute; right: 14px; top: calc(50% - 8px); z-index: 1; pointer-events: none; width: 16px; height: 16px; /* bg image */ }

.select-menu:hover, .gform-select-menu div:hover { border-color: #00f; }

.select-menu:hover:after, .gform-select-menu div:hover:after { /* bg image */ }

.select-menu select, .gform-select-menu div select { padding: 0 10px 0 20px; cursor: pointer; color: #0f0; background-color: #fff; width: 120%; height: 40px; line-height: 40px; border: 0; border-radius: 0; text-indent: 0.01px; -o-text-overflow: ''; text-overflow: ''; position: relative; z-index: 1; }

.validation_error { padding: 15px; color: #fff; background: #c00; margin: 20px 0; }

.validation_message { text-transform: uppercase; font-size: 12px; color: #c00; font-weight: 600; }

.gform_validation_container { position: absolute; top: -9999px; left: -9999px; pointer-events: none; opacity: 0; }

/* ========================================================================= */
/* GLOBAL STYLE */
/* ========================================================================= */
.desktop { display: block; }

.mobile { display: none; }

.grids { display: -webkit-box; display: -ms-flexbox; display: flex; }

.grids.grids-3 .grid { width: 32%; margin-left: 2%; }

.grids.grids-3 .grid:nth-child(3n+1) { margin-left: 0; }

/* ========================================================================= */
/* MAIN HEADER */
/* ========================================================================= */
#header { background-color: #262228; }

#header #main-menu { display: -webkit-box; display: -ms-flexbox; display: flex; }

#header #main-menu > li { position: relative; }

#header #main-menu > li > a { display: block; padding: 20px 25px; color: #fff; font-style: 18px; font-weight: 500; }

#header #main-menu > li > a:hover { background-color: #0375b4; }

#header #main-menu > li ul { display: none; position: absolute; }

#header #main-menu > li.menu-item-has-children::before { content: ''; position: absolute; top: 50%; right: 0; width: 7px; height: 2px; margin-top: -1px; margin-right: 10px; border-top: 1px solid #fff; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

#header #main-menu > li.menu-item-has-children::after { content: ''; position: absolute; top: 50%; right: 0; width: 7px; height: 2px; margin-top: -1px; margin-right: 5px; border-top: 1px solid #fff; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

/* ========================================================================= */
/* MAIN BANNER */
/* ========================================================================= */
/* ========================================================================= */
/* MAIN CONTENT MODULES */
/* ========================================================================= */
/* ========================================================================= */
/* FLEXIBLE CONTENT MODULES */
/* ========================================================================= */
/* ========================================================================= */
/* MAIN FOOTER */
/* ========================================================================= */
/* ========================================================================= */
/* MEDIA QUERIES */
/* ========================================================================= */
/* @media screen and (max-width: XXXpx) {  } */

/*# sourceMappingURL=style.css.map */