@import 'parts/reset';
@import 'parts/fonts';
@import 'parts/mixins';

/* Add Vendor Stylesheets here */

/* ========================================================================= */
/* !STYLES */
/* ========================================================================= */

	html, body {
        background-color: $color_dark_gray;
        font: {
            family: $font_open;
            size: 16px;
            color: $color_dark_gray;
        }
        line-height: 1.5;
    }

/* != SELECTION STYLES (Leaving these blank will show no indication of text selection) ===== */
/*
    ::selection         {
        background: #aaa;
        color: #fff;
    }
    ::-moz-selection    {
        background: #aaa;
        color: #fff;
    }
    ::-webkit-selection {
        background: #aaa;
        color: #fff;
    }
*/

/* != DEFAULT WORDPRESS STYLES = USE AS NEEDED = .wp-caption = .wp-caption-dd = .wpGallery = .shutter = .shutterset ==== */

    .aligncenter {
        display: block;
        margin: 25px auto;
    }

    .alignleft {
        float: left;
        margin: 0 25px 25px 0;
    }

    .alignright {
        float: right;
        margin: 0 0 25px 25px;
    }

    .alignnone {
        display: inline-block;
    }

/* != LAYOUT STYLES ===== */

    h1 {
        color: $color_blue;
        font-size: 60px;
        line-height: 1.2;
    }

    h2 {
        color: $color_dark_gray;
        font-size: 40px;
        line-height: 1.2;
    }

    h3 {
        color: $color_blue;
        font-size: 30px;
        line-height: 1.2;
    }

    h4 {
        color: $color_blue;
        font-size: 20px;
        line-height: 1.2;
    }

    h5 {
        color: $color_blue;
        font-size: 18px;
        line-height: 1.2;
    }

    h6 {
        color: $color_blue;
        font-size: 16px;
        line-height: 1.2;
    }

    a {
        color: $color_blue;
        transition: 0.2s;
        &:hover {
            color: $color_dark_gray;
            text-decoration: none;
        }
    }

    .content-main ul:not([class*="gf"]) {
        > li {
            position: relative;
            padding-left: 10px;
            &:before {
                content: '\2022';
                position: absolute;
                left: 0; }
        }
    }

    .content-main ol {
        counter-reset:li;
        > li {
            position: relative;
            padding-left: 20px;
            &:before {
                content:counter(li) '. ';
                counter-increment: li;
                position: absolute;
                right: calc(100% - 15px);
            }
        }
    }

    .wrap {
        max-width: 1180px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

/* != PLACEHOLDER ATTRIBUTE STYLES = input or textarea - placeholder="whatever" ===== */
/*
    ::-webkit-input-placeholder {
        color: #aaa;
    }

    ::-moz-placeholder {
        color: #aaa;
    }
*/

    input {
        &[type=text],
        &[type=password],
        &[type=url],
        &[type=number],
        &[type=tel],
        &[type=email] {
        }
    }

    input[type=submit], button {
        display: inline-block;
        cursor: pointer;
        &:hover {
        }
    }

    /* != Select menus with a .select-menu container or gform-select-menu applied in gravity forms ===== */
    .select-menu,
    .gform-select-menu div {
        position: relative;
        width: 260px;
        border: 1px solid #f00;
        vertical-align: middle;
        display: inline-block;
        overflow: hidden;
        margin: 0 10px 0 0;
        &:after, &:after {
            content: '';
            position: absolute;
            right: 14px;
            top: calc(50% - 8px);
            z-index: 1;
            pointer-events: none;
            @include size(16px);
            /* bg image */
        }
        &:hover {
            border-color: #00f;
            &:after {/* bg image */}
        }
        select {
            padding: 0 10px 0 20px;
            cursor: pointer;
            color: #0f0;
            background-color: #fff;
            width: 120%;
            height: 40px;
            line-height: 40px;
            border: 0;
            border-radius: 0;
            text-indent: 0.01px;
            text-overflow: '';
            position: relative;
            z-index: 1;
        }
    }

    .validation {
        &_error {
            padding: 15px;
            color: #fff;
            background: #c00;
            margin: 20px 0;
        }
        &_message {
            text-transform: uppercase;
            font-size: 12px;
            color: #c00;
            font-weight: 600;
        }
    }

    .gform_validation_container {
        // display: none;
        // visibility: hidden;
        // uncomment the above if the below doesn't work.
        position:absolute;
        top:-9999px;
        left:-9999px;
        pointer-events:none;
        opacity:0;
    }

/* ========================================================================= */
/* GLOBAL STYLE */
/* ========================================================================= */
.site {
    background-color: $white;
}
.desktop {
    display: block;
}
.mobile {
    display: none;
}
.main-content {
    &.right-sidebar {
        overflow: hidden;
        .content-main {
            width: 60%;
            float: left;
            h1,h2,h3,h4,h5,h6 {
                margin-bottom: 20px;
            }
            h5 { margin-top: 40px; }
            p {
                margin-top: 20px;
            }
            ul, ol {
                margin-top: 20px;
                li {
                    margin-top: 10px;
                }
            }
        }
        .content-sub {
            width: 35%;
            float: right;
            .sidebar {
                &.sidebar-list {
                    padding: 30px;
                    background-color: $color_blue;
                    h4 {
                        margin-bottom: 20px;
                        color: $white;
                    }
                    li {
                        margin-top: 10px;
                        a {
                            padding-left: 15px;
                            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgPGRlZnM+CiAgICA8cGF0aCBkPSJNMi41MTYgOC43MTZhLjc4NC43ODQgMCAwIDAgMCAxLjA2NC42ODIuNjgyIDAgMCAwIDEuMDAzIDBsMy45NjUtNC4yNDhhLjc4NS43ODUgMCAwIDAgMC0xLjA2NEwzLjUyLjIyYS42OC42OCAwIDAgMC0xLjAwMyAwIC43ODUuNzg1IDAgMCAwIDAgMS4wNjRMNS43NjcgNSAyLjUxNiA4LjcxNnoiIGlkPSJhIi8+CiAgPC9kZWZzPgogIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yKSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxtYXNrIGlkPSJiIiBmaWxsPSIjZmZmIj4KICAgICAgPHVzZSB4bGluazpocmVmPSIjYSIvPgogICAgPC9tYXNrPgogICAgPGcgbWFzaz0idXJsKCNiKSIgZmlsbD0iI0ZGRiI+CiAgICAgIDxwYXRoIGQ9Ik0wIDBoMTB2MTBIMHoiLz4KICAgIDwvZz4KICA8L2c+Cjwvc3ZnPgo=) no-repeat;
                            background-position: 0 50%;
                            color: $white;
                            &:hover {
                                color: $color_yellow;
                            }
                        }
                    }
                }
            }
        }
        @include break(768) {
            .content-main {
                width: 100%;
            }
            .content-sub {
                width: 100%;
                margin-top: 40px;
            }
        }
        @include break(480) {
            .content-sub {
                margin-top: 30px;
            }
        }
    }
}
.grids {
    display: flex;
    &.grids-3 {
        .grid {
            width: 32%;
            margin-left: 2%;
            &:nth-child(3n+1) { margin-left: 0; }
        }
    }
}
.header {
    margin-bottom: 40px;
    h2 {
        margin-bottom: 10px;
    }
}
.main-sheet {
    margin-top: 40px;
    overflow-x: scroll;
    table {
        width: 1500px;
        font-size: 14px;
        time {
            display: block;
            font-weight: 500;
            letter-spacing: 1px;
        }
        small {
            font-size: 12px;
        }
        p { margin-top: 5px; }
        tr {
            th {
                padding: 20px;
                background-color: $color_green;
                color: $white;
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 1px;
                border: 1px solid $white;
                text-align: center;
                &:nth-child(1) {
                    width: 135px;
                    padding: 20px 10px;
                    background-color: $color_yellow;
                }
            }
            td {
                padding: 25px 15px 50px 15px;
                border: 1px solid $color_border;
                ul {
                    li {
                        & + li {
                            margin-top: 20px;
                        }
                    }
                }
                ol {
                    counter-reset:li;
                    > li {
                        position: relative;
                        padding-left: 20px;
                        &:before {
                            content:counter(li) '. ';
                            counter-increment: li;
                            position: absolute;
                            right: calc(100% - 15px);
                        }
                    }
                }
                &:nth-child(1) {
                    padding: 15px;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    text-transform: uppercase;
                    background-color: $color_blue;
                    color: $white;
                    vertical-align: middle;
                    border: 1px solid $white;
                }
            }
        }
        .resources {
            margin-top: 5px;
            li {
                font-size: 11px;
                display: block;
                margin-top: 0;
            }
        }
        @include break(768) {
            font-size: 13px;
            tr {
                th {
                    padding: 10px;
                    font-size: 14px;
                    &:nth-child(1) {
                        width: 120px;
                        padding: 10px;
                    }
                }
                td {
                    padding: 15px 15px 30px 15px;
                    &:nth-child(1) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
.main-report {
    overflow-x: scroll;
    p {
        margin-top: 5px;
    }
    ul, ol {
        li {
            & + li {
                margin-top: 5px;
            }
        }
    }
    table {
        width: 1500px;
        font-size: 12px;
        th {
            padding: 10px 5px;
            background-color: $color_blue;
            color: $white;
            border: 1px solid $white;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
        }
        td {
            padding: 10px;
            text-align: center;
            &.good {
                background-color: $color_light_blue;
            }
            &.false, &.bad {
                background-color: $color_light_red;
            }
            &.true {
                background-color: $color_light_green;
            }
            &.ok {
                background-color: $color_light_yellow;
            }
        }
    }
}
.divider {
    width: 100%;
    max-width: 1140px;
    margin: 80px auto;
    border-top: 1px solid $color_border;
    @include break(768) {
        margin: 60px auto;
    }
    @include break(480) {
        margin: 40px auto;
    }
}
/* ========================================================================= */
/* MAIN HEADER */
/* ========================================================================= */
#header {
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: $color_dark_gray;
    z-index: 100;
    .logo {
        display: block;
        width: 40px;
        height: 60px;
        line-height: 60px;
        font-size: 0;
        img {
            width: 100%;
            vertical-align: middle;
        }
    }
    #nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #main-menu {
        display: flex;
        > li {
            position: relative;
            > a {
                display: block;
                height: 60px;
                padding: 0 25px;
                color: $white;
                font-size: 18px;
                font-weight: 500;
                line-height: 60px;
            }
            ul {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                width: 250px;
                background-color: $color_blue;
                box-shadow: 0 3px 3px rgba(0,0,0,0.2);
                li {
                    a {
                        display: block;
                        padding: 15px 25px;
                        color: $white;
                        &:hover {
                            background-color: $color_green;
                        }
                    }
                }
            }
            &:hover {
                a {
                    background-color: $color_blue;
                }
            }
            &.menu-item-has-children {
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 7px;
                    height: 2px;
                    margin-top: -1px;
                    margin-right: 10px;
                    border-top: 1px solid $white;
                    transform: rotate(45deg);
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 7px;
                    height: 2px;
                    margin-top: -1px;
                    margin-right: 5px;
                    border-top: 1px solid $white;
                    transform: rotate(-45deg);
                }
            }
        }
    }
    #mobile-menu-toggle {
        position: absolute;
        width: 60px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: transparent;
        span {
            position: absolute;
            width: 20px;
            height: 2px;
            top: 50%;
            right: 20px;
            background-color: #fff;
            transform: translate(0, -50%);
            transition: transform 0.3s;
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                top: -5px;
                left: 0;
                background-color: #fff;
                transition: transform 0s 0s, top 0.3s 0.3s;
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                top: 5px;
                left: 0;
                background-color: #fff;
                transition: transform 0s 0s, top 0.3s 0.3s;
            }
        }
        &[aria-expanded=true] span {
            height: 0;
            transform: rotate(180deg);
            transition: transform 0.3s 0.3s, height 0s 0s;
            background-color: #fff; 
            &::before {
                top: 0;
                transform: rotate(-45deg);
                transition: top 0.3s 0s, transform 0.3s 0.3s;
                background-color: #fff;
            }
            &::after {
                top: 0;
                transform: rotate(45deg);
                transition: top 0.3s 0s, transform 0.3s 0.3s;
                background-color: #fff;
            }
        }
    }
    .mobile-menu-container {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $color_dark_gray;
        #mobile-menu {
            padding: 20px 0;
            > li {
                a {
                    display: block;
                    padding: 0 20px;
                    color: $white;
                }
                > a {
                    padding: 10px 20px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: 500;
                    &:hover {
                        background-color: $color_blue;
                    }
                }
                &.menu-item-has-children {
                    ul {
                        padding: 0 20px;
                        li {
                            a {
                               display: inline; 
                            }
                        }
                    }
                }
            }
        }
    }
}
/* ========================================================================= */
/* MAIN BANNER */
/* ========================================================================= */

/* ========================================================================= */
/* MAIN CONTENT MODULES */
/* ========================================================================= */
#main {
    padding-top: 120px;
}
.schedule-module {
    @include break(768) {
        margin-top: 50px;
    }
    @include break(480) {
        margin-top: 40px;
    }
}
.missions-module {
    .main-sheet {
        table {
            tr {
                td {
                    padding: 15px 10px 50px 10px;
                    &:nth-child(1) {
                        padding: 15px 10px;
                    }
                }
            }
        }
    }
    @include break(768) {
        margin-top: 50px;
    }
    @include break(480) {
        margin-top: 40px;
    }
}
.plans-module {
    .plan-field {
        margin-top: 60px;
    }
}
.report-module {
}
/* ========================================================================= */
/* FLEXIBLE CONTENT MODULES */
/* ========================================================================= */
/* ========================================================================= */
/* MAIN FOOTER */
/* ========================================================================= */
#footer {
    margin-top: 80px;
    padding: 20px 0;
    background-color: $color_dark_gray;
    color: $white;
    font-size: 14px;
    a {
        color: $white;
        &:hover {
            color: $color_blue;
        }
    }
    @include break(768) {
        margin-top: 60px;
    }
    @include break(480) {
        margin-top: 40px;
    }
}
/* ========================================================================= */
/* MEDIA QUERIES */
/* ========================================================================= */
@include break(768) {
    .desktop { display: none; }
    .mobile { display: block; }
    h1 { font-size: 40px; }
}
@include break(480) {

}